[user]
	email = mail@hacdias.com
	name = Henrique Dias
	signingkey = ~/.ssh/ed25519-sk-yubi-676

[commit]
	gpgsign = true

[core]
	excludesfile = ~/.global.gitignore

[credential]
	helper = osxkeychain

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gpg]
	format = ssh

[pull]
	rebase = false

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[rerere]
	enabled = true

[column]
	ui = auto

[branch]
	sort = -committerdate

[sendemail]
	smtpserver = smtp.fastmail.com
	smtpuser = mail@hacdias.com
	smtpencryption = ssl
	smtpserverport = 465

[alias]
	origin 		= ! git remote | head -1
	main 			= ! git symbolic-ref refs/remotes/$(git origin)/HEAD | cut -d'/' -f4
	com 			= ! git checkout $(git main)
	rmain			= ! git rebase $(git main)
	gone 			= "! git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"
	co	 			= checkout
	lease 		= push --force-with-lease
	cake  		= log --reverse -1 HEAD
	uncommit 	= reset --soft HEAD^
