[user]
	email = hacdias@gmail.com
	name = Henrique Dias
	signingkey = ~/.ssh/ed25519-sk-yubi-676

[commit]
	gpgsign = true

[core]
	excludesfile = ~/.global.gitignore

[credential]
	helper = osxkeychain

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gpg]
	format = ssh
	# program = gpg

[pull]
	rebase = false

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
