[user]
	email = hacdias@gmail.com
	name = Henrique Dias
[commit]
	template = ~/.git-commit-template
[core]
	excludesfile = ~/.global.gitignore
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
