<!DOCTYPE html>
<html language='en'>
<head>
  <title>@hacdias Go Packages</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://hacdias.com/favicon.ico" type="image/x-icon">
  {{ template "normalize" . }}
  {{ template "styles" . }}
</head>
<body>
  <main>
    <header>
      {{ template "gopher" . }}
      <div>
        <h1>@hacdias Go Packages</h1>
        <p>Go packages created and maintained by <a href="https://hacdias.com" rel="noopener noreferrer">@hacdias</a>.</p>
      </div>
    </header>
    {{ range .Packages }}
    <div class='package' id="pkg-{{ .Name }}">
      <div>
        <strong>{{ .ModulePath }}</strong>
        <div>
          <a href="//{{ .RepoURL }}">
            <img src="//img.shields.io/badge/source-link-green?style=flat-square" alt="Source Code" />
          </a>
          <a href="{{ .DocURL }}">
            <img src="//pkg.go.dev/badge/{{ .ModulePath }}.svg" alt="Package Documentation" />
          </a>
        </div>
      </div>
      {{ with .Desc }}<p>{{ . }}</p>{{ end }}
    </div>
    {{ end }}
  </main>
</body>
</html>
